*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
    
}

li,ul,h1{
    display: inline;
}

ul{
    margin-left: 70%;
}
li{
    color: gray;
}
li{
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    text-align: center;
    padding: 50px;
    
}


.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 225px;
}

.box:hover{
    color: white;
    background-color: black;
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;

}
.contact{
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
}